html{
  max-width:1240px;
  margin: 0 auto !important;
}

body {
  width: 100%;
}

/* header start */

/* header end */

/* main start */

#mapSample{
  height: 500px;
  width:100%;
}

/* main end */

/* footer start */

.footer_wrapper{
  width:100%;
  height:600px;
}

.footer_wrapper li{
  list-style:none;
}

.footer_top{
  margin-top:50px;
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid grey;
  height:65%;
  background-color:white;
}

.footer_cell{
  padding-right:100px;
}

.footer_cell:last-child{
  padding-right:0px;
}

.footer_title p{
  font-weight:bold;
}

.footer_cell p{
  text-align:left;
}

.footer_cell a{
  color:black;
}

.footer_list ul{
  margin:0px;
  padding-left:0px;
}

.footer_list li{
  padding-top:15px;
}

.footer_bottom{
  padding-top:20px;
  border-top:1px solid grey;
  height:35%;
  background-color:white;

}

.sns_list li{
  list-style:none;
  padding-right:50px;
}

.sns_list li:last-child{
  padding-right:0px;
}

.copyright{
  padding-top:10px;
  padding-bottom:20px;
  text-align:center;
  font-family: 'Chewy', cursive;
  font-size:22px;
}



/* footer end */