header{
  width:100%;
}

.header{
  max-width:600px;
  margin:0 auto;
}

.main{
    padding:50px 0px 30px;
    max-width:600px;
    margin:0 auto;
}

.user_top{
  padding-bottom:40px;
  text-align:center;
}

.user{
  width:100%;
  margin:0 auto;
}

.user_cell{
  padding:10px 20px 10px 140px;
  text-align:left;
  width:600px;
}

.user_cell p{
  font-size:16px;
}

button{
  text-align:center;
  margin:30px auto;
  display: inline-flex;
  justify-content: center; /* コンテンツを水平方向に中央揃え */
  align-items: center;     /* コンテンツを垂直方向に中央揃え */
  width:290px;
  border-radius: 20px;

}

.button_style {
  font-family: "Modak", cursive;
  font-size: 20px;
  display: inline-block;
  color: white;
  border:none;
  border-radius: 20px;
  background-color: lightskyblue;
  cursor: pointer;
  }

  .btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

  i{
    padding-left:10px;
    padding-right:10px;
  }

footer{
  width:100%;
}

.footer{
  max-width:600px;
  margin:0 auto;
}

/* ページ遷移時に発動 */

#page-animate::before {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:lightskyblue;
  z-index: 9999;
  pointer-events: none;
  right: 100%;
  -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate::after {
  content: '';
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:lightskyblue;
  z-index: 9999;
  pointer-events: none;
  left: 100%;
  -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#page-animate.is-slide-in::before {
  right: 0;
}

#page-animate.is-slide::after {
  left: 0;
}